.add_task {
	background-color: #fff;
	position: absolute;
	top: -1000px;
	left: 50%;
	transition: all 0.5s linear;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	z-index: 500;
	border: 2px solid rgb(2, 32, 6);
	box-shadow:
		0 10px 10px rgba($color: #000000, $alpha: 0.4),
		0 -10px 10px rgba($color: #000000, $alpha: 0.4);

	.wrap-form {
		padding: 10px;
		width: 550px;
		height: 500px;
		position: relative;

		.xmark {
			position: absolute;
			right: 20px;
			width: 25px;
			height: 30px;
			background-color: rgba(46, 46, 237, 0.952);
			text-align: center;
			@include flex(center);
			top: 10px;
			cursor: pointer;
			color: #fff;
			border-radius: 5px;

			&:hover {
				color: rgba(46, 46, 237, 0.952);
				background-color: rgba(46, 46, 237, 0.382);
			}
		}

		h4 {
			text-transform: capitalize;
			color: #333;
			margin: 15px 0;
			width: 100%;
			height: 30px;
			border-bottom: 2px solid #ccc;
		}

		.input-group {
			label {
				color: #333;
				text-transform: capitalize;
				font-weight: 500;
			}
			input {
				width: 100%;
				padding: 10px;
				margin: 20px 0;
				border-radius: 5px;
				outline: none;
				border: 1px solid #ccc;
				cursor: pointer;
				&::placeholder {
					color: #333;
				}
				&:focus {
					outline: 2px solid skyblue;
				}
			}
		}

		textarea {
			width: 100%;
			height: 120px;
			padding: 5px 10px;
			margin: 20px 0;
			border-radius: 5px;
			outline: none;
			border: 1px solid #ccc;
			resize: none;

			&:focus {
				outline: 2px solid skyblue;
			}

			&::placeholder {
				color: #333;
			}
		}

		.line {
			width: 100%;
			border-top: 2px solid #ccc;
			margin-bottom: 20px;
		}

		.btn {
			position: absolute;
			right: 20px;
			bottom: 10px;
			margin-top: 20px;
			.btn-button {
				width: 70px;
				padding: 10px 5px;
				text-transform: capitalize;
				color: #fff;
				border: 1px solid #ccc;
				border-radius: 5px;
				cursor: pointer;
			}
			#close {
				background-color: #777;
			}
			#add {
				background-color: rgba(46, 46, 237, 0.952);
			}
		}
	}

	@media (max-width: 600px) {
		.wrap-form {
			width: 350px;
			height: 600px;
		}
	}
}

.active {
	top: 50%;
	transition: all 0.5s linear;
}

.btn2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	outline: 10px solid rgb(3, 150, 199);
	outline-offset: 10px;
	animation:
		line 1s ease infinite 1s,
		move 1s ease forwards;


	#start {
		padding: 20px 30px;
		width: 200px;
		text-transform: uppercase;
		cursor: pointer;
		border: 5px solid rgb(3, 150, 199);
		transition: all 0.3s linear;
		position: relative;
		overflow: hidden;
		border-radius: 2px;

		&::before {
			content: 'star now';
			position: absolute;
			width: 100%;
			height: 100%;
			color: #fff;
			top: 0;
			left: -1000px;
			@include flex(center);
			background-color: rgb(3, 150, 199);
			transition: all 0.3s ease;
		}

		&:hover::before {
			left: 0;
		}

		&:active {
			transform: scale(1.07);
			transform: translateY(10px);
		}
	}
}

@keyframes line {
	0% {
		outline-offset: 0;
	}
	100% {
		outline-offset: 100%;
	}
}
@keyframes move {
	0% {
		top: 0;
		left: 0;
	}
	80% {
		transform: translate(-10px);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}
